html, body{
    margin: 0;
    padding: 0;
}
.header {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 880px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    object-fit: cover;
}
.header img {
    width: 100%;
    height: auto;
    position: absolute;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-filter: brightness(70%);
    filter:brightness(70%);
}
.header {
    position: absolute;
    padding: 0 15%;
    margin: 0;
    padding: 0;
    width: 100%;
}
.header__top{
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 40px 10%;
}
.top__left{
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
}
.top__left-list {
    padding: 0;
    margin: 0;
}
.top__left-list li {
    padding: 8px 10px;
    list-style-type: none;
    display: inline;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}
.top__left-list li > i {
    color: #29D197;
    font-size: 12px !important; 
}
.top__right {
    display: flex;
    align-items: center;
    top: 0;
    right: 0;
}
.top__right-item {
    position: relative;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background: rgb(251, 251, 251, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2px;
}
.top__right-item i{
    font-size: 12.82px;
    color: #DDDDDD;
}
.top__right {
    vertical-align: middle;
}
.top__right-text {
    float: left;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: #29D197;
    padding-right: 21px;
}
.banner__container {
    padding-top: 15%;
    width: 100%;
    position: absolute;
}
.banner__container-text, .banner__btn {
    padding: 0 20%;
}
.banner__container-text p {
    font-family: 'Poppins', sans-serif;
    text-align: right;
    color: white;
    font-size: 48px;
    font-weight: 900;
    line-height: 0.2;
}
.banner__container-text span{
    color: #29D197;
    font-weight: 300;
}
.banner__btn {
    text-align: right;
    padding-top: 20px;
    position: relative;
}
.banner__btn-btn {
    margin-left: 10px;
}
.btn-full {
    position: relative;
    border: none;
    background: #29D197;
    height: 60px;
    width: 227px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    text-align: center;
    font-weight: 900;
    color: white;
    border-radius: 30px;
}
.btn-line {
    border-color: #29d196;
    position: relative;
    background: none;
    border-style: solid;
    height: 60px;
    width: 227px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    text-align: center;
    font-weight: 900;
    color: white;
    border-radius: 30px;
}

.header__menu{
    /* position: absolute; */
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 0 10%;
}
.logo {
    display: flex;
    align-items: center;
    color: white;
    font-family: 'biko-black', sans-serif;
    font-weight: 900;
    font-size: 40px;
}
.container_logo {
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
}
.container_logo_list li {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0 10px;
    display: inline;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    text-align: center;
    font-weight: 900;
}
.navbar__btn {
    display: flex;
    align-items: center;
}
.navbar__btn-btn {
    text-align: center;
}
.activities{
    width: 100%;
    height: auto;
    padding-top: 700px;
    position: absolute;
}
.activities__bg img {
    width: 100%;
    height: 1082px;
    margin-top: 0;
    padding: 0;
    transform: translateX(-35%);
}
.activities__list {
    margin-top: -7%;
    height: 300px;
    width: 1250px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  
.activities__list-item {
    background-color: white;
    height: 240px;
    width: 250px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-align: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
  }
.activities__list-action {
    border: none;
    background-color: #D44BA2 !important;
    height: 240px;
    width: 250px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    text-align: center;
    color: white;
    margin-top: 30px !important;
}
.activities__list-item::after {
    content: "";
    margin-top: 240px;
    width: 250px;
    height: 7px;
    background-color: blue;
    position: absolute;
}
.activities__list-item::before {
    content: "";
    position: absolute;
    margin-top: 240px;
    width:41px;
    height:41px;
    z-index: -1;
    border-radius:50%;
    background-color: blue;
}
.activities__list-item:nth-child(1)::after, .activities__list-item:nth-child(1)::before {
    background-color: #09C1CF;
}
.activities__list-item:nth-child(2)::after, .activities__list-item:nth-child(2)::before {
    background-color: #F04255;
}
.activities__list-item:nth-child(3)::after, .activities__list-item:nth-child(3)::before {
    background-color: #D44BA2;
}
.activities__list-item:nth-child(4)::after, .activities__list-item:nth-child(4)::before {
    background-color: #41BE84;
}
.activities__list-item:nth-child(5)::after, .activities__list-item:nth-child(5)::before {
    background-color: #EAB830
    ;
}
.content {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-top: 1000px;
}
.content_top-title {
    font-size: 45px;
    font-weight: 400;
}
.content_top-title strong {
    color: #29D197;
}
.content_top-subtitle {
    font-size: 20px;
    font-weight: 00;
    color: #666666;
}
.content_center{
    margin-top: 45px;
    padding: 0 10%;
    display: grid;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
}
.item {
    color: #343434;
    height: 150px;
    display: flex;
    padding: 5px 20px;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.item-text {
    margin: 0 auto;
}
.item-text p:nth-child(1) {
    padding: 0 20px;
    font-size: 22px;
}
.item-text p:nth-child(2) {
    font-size: 16px;
}
.item-text br {
    line-height: 40px;
}
.icon {
    text-align: center;
    position: relative;
    width: 145px;
    height: 145px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 2px 4px 0 rgba(0, 0, 0, 0.05);;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.studies__item-i::before {
    content: "";
    position: absolute;
    margin-top: 160px;
    width: 21px;
    height: 21px;
    background-color: #F7CA18;
    border-radius: 50%;
    z-index: -1;
}
.icon img {
    width: 70px;
    height: 70px;
}
.studies__right {
    text-align: left;
}
.studies__left {
    text-align: right;
}

.form3{
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-top: 10%;
}
.form {
    width: 100%;
}
.form img {
    width: 100%;
    height: auto;
    margin: 0;
    position: absolute;
}
.comtent__form3 {
    box-sizing: border-box;
    width: 100%;
    padding: 0 10%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.content3__left {
    box-sizing: border-box;
    width: auto;
    height: auto;
    transform: translateY(-20%);
    position: relative;
}
.content_left_top {
    line-height: 1;
    font-size: 20px;
    font-weight: 200;

}
.content_left {
    line-height: 0.3;
    font-size: 45px;
    font-weight: 500;
}
.content_left strong{
color: #29d196;
}
.content3__right {
    margin-top: 50px;
    box-sizing: border-box;
    position: relative;
    height: 466px;
    width: 470px;
}
.content3__right-top {
    box-shadow: 0 3.5px 6px 0 rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    height: 417px;
    width: 470px;
    background-color: white;
    border: none;
    border-radius: 5px;
    padding-top: 60px;
    text-align: center;
}
.content3__right-top input {
    width: 370px;
    height: 56px;
    background-color: #FAFAFA;
    border-radius: 30px;
    margin-top: 11px;
    border: none;
    padding-left: 10%;
    font-size: 13px;
}
.content3__right-top button {
    width: 198px;
    height: 62px;
    margin-top: 20px;
    background-color: #1A265C;
    border-radius: 30px;
    border: none;
    color: white;
    font-size: 15px;
}
.content3__right-bottom {
    align-items: center;
    width: 384px;
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

.content3__right-bottom div {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: none;
    background-color: #29D197;
    font-size: 14px; 
    line-height: 0.7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    resize: vertical;
}

.content3__right-bottom div span {
    font-weight: 700;
    font-size: 25px;
}

.activities__bg {
    height: 1150px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate(-38%, -10%);
}